* {
  margin: 0;
  padding: 0;
}

div {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
button {
  width: 120px;
  height: 45px;
  border-radius: 5px;
  border: none;
  background: rgba(128, 128, 128, 0.231);
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
